/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";
@import "https://fonts.googleapis.com/earlyaccess/sawarabimincho.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-style: normal; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 62.5%;
  font-family: "Noto Sans Japanese"; }

body {
  font-size: 1.6rem;
  line-height: 1;
  color: #222; }

a {
  color: #222;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  height: auto; }

.mainimage {
  background: url(../img/top/main_ph.jpg) no-repeat center;
  height: 580px; }
  @media screen and (max-width: 767px) {
    .mainimage {
      background: #ebf3f5 url(../img/top/main_sp.jpg) no-repeat top center;
      height: auto;
      background-size: 100%;
      padding-top: 64vw;
      box-sizing: border-box; } }
  .mainimage .main-txt {
    position: absolute;
    right: 0px;
    top: 80px; }
    @media screen and (max-width: 767px) {
      .mainimage .main-txt {
        position: static;
        width: 90%;
        margin: 0 auto; } }
  .mainimage ul {
    position: relative;
    margin-top: 30px;
    border-top: 1px dotted #000;
    padding-bottom: 43vw; }
    @media screen and (max-width: 767px) {
      .mainimage ul {
        margin-top: 3vw; } }
    .mainimage ul li {
      position: absolute;
      padding: 20px 0 0 0;
      width: 470px; }
      @media screen and (max-width: 767px) {
        .mainimage ul li {
          padding: 2vw 0 0 0;
          width: 100%; } }
      .mainimage ul li.show {
        z-index: 100; }
        .mainimage ul li.show p {
          opacity: 1; }
        .mainimage ul li.show .fukidashi {
          opacity: 1;
          transform: scale(1); }
        .mainimage ul li.show a {
          opacity: 1; }
          .mainimage ul li.show a:hover {
            opacity: 0.8; }
      .mainimage ul li p {
        padding-left: 130px;
        font-size: 2.4rem;
        line-height: 1.4;
        opacity: 0;
        transition: 1s;
        height: 4em;
        font-family: "Sawarabi Mincho"; }
        .mainimage ul li p span {
          background: linear-gradient(transparent 60%, #ffff66 0%); }
        @media screen and (max-width: 767px) {
          .mainimage ul li p {
            padding-left: 22vw;
            font-size: 1.6rem; }
            .mainimage ul li p br {
              display: none; } }
      .mainimage ul li .fukidashi {
        background: url(../img/top/fukidashi.png) no-repeat;
        width: 110px;
        height: 110px;
        display: block;
        text-align: center;
        font-family: "Sawarabi Mincho";
        color: #b84c4c;
        font-size: 3.3rem;
        padding-top: 15px;
        position: absolute;
        left: 0px;
        top: -10px;
        transition: 1s;
        opacity: 0;
        transform: scale(0.6); }
        @media screen and (max-width: 767px) {
          .mainimage ul li .fukidashi {
            font-size: 2rem;
            width: 20vw;
            height: 20vw;
            background-size: contain; } }
        .mainimage ul li .fukidashi em {
          display: block;
          text-align: center;
          font-size: 4.5rem; }
          @media screen and (max-width: 767px) {
            .mainimage ul li .fukidashi em {
              font-size: 3rem; } }
      .mainimage ul li a {
        display: block;
        background: rgba(0, 0, 0, 0.8);
        color: #FFF;
        text-align: center;
        padding: 20px;
        font-size: 2rem;
        margin-top: 1em;
        position: relative;
        opacity: 0; }
        @media screen and (max-width: 767px) {
          .mainimage ul li a {
            font-size: 1.6rem;
            padding: 5vw 0;
            margin-top: 0px; } }
        .mainimage ul li a.coming {
          cursor: default; }
          .mainimage ul li a.coming:after {
            display: none; }
        .mainimage ul li a:after {
          content: "";
          display: inline-block;
          width: 0.8em;
          height: 0.8em;
          margin-right: 0.5em;
          border-style: solid;
          border-width: 2px 2px 0 0;
          border-color: #FFF #FFF transparent transparent;
          box-sizing: border-box;
          transform: rotate(45deg); }

.lead-block {
  background: #881b1b url(../img/bg1.png);
  text-align: center;
  color: #FFF;
  padding: 60px 0 0 0;
  line-height: 1.6; }
  @media screen and (max-width: 767px) {
    .lead-block {
      padding: 5vw 0 0 0; } }
  .lead-block:after {
    content: "";
    display: block;
    position: relative;
    bottom: -29px;
    width: 100%;
    background: url(../img/bg2.png) repeat-x;
    height: 30px; }
    @media screen and (max-width: 767px) {
      .lead-block:after {
        background: none; } }
  .lead-block .lead-inner {
    padding: 0 20px 150px 20px;
    max-width: 900px;
    margin: 0 auto; }
    @media screen and (max-width: 767px) {
      .lead-block .lead-inner {
        padding: 3vw; } }
  .lead-block h2 {
    font-family: "Sawarabi Mincho";
    font-size: 3.8rem;
    padding-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .lead-block h2 {
        font-size: 2.2rem; } }
  .lead-block p {
    line-height: 1.8;
    font-size: 1.8rem;
    margin-bottom: 2em; }
    @media screen and (max-width: 767px) {
      .lead-block p {
        font-size: 1.4rem;
        text-align: left; }
        .lead-block p br {
          display: none; } }
  .lead-block a {
    display: inline-block;
    padding: 15px;
    position: relative;
    max-width: 500px;
    width: 100%;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 2.3rem; }
    .lead-block a:hover {
      background: rgba(255, 255, 255, 0.2); }
    @media screen and (max-width: 767px) {
      .lead-block a {
        width: 96%;
        font-size: 1.8rem;
        margin: 0 auto;
        padding: 3vw 0; } }
    .lead-block a:after {
      content: "";
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      margin-right: 0.5em;
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-color: #FFF #FFF transparent transparent;
      box-sizing: border-box;
      transform: rotate(45deg);
      position: absolute;
      right: 0.5em;
      top: 1em; }

.service-block {
  position: relative;
  margin-top: -130px;
  background: url(../img/top/bg_service.png) no-repeat center top;
  text-align: center;
  padding: 70px 0; }
  @media screen and (max-width: 767px) {
    .service-block {
      padding: 5vw;
      margin: 0;
      background: #FFFFFF;
      margin-top: 0; } }
  .service-block ul {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .service-block ul {
        padding-top: 5vw;
        justify-content: space-between; } }
    .service-block ul li {
      width: 25%;
      display: inline-block;
      text-align: left;
      margin-bottom: 40px; }
      @media screen and (max-width: 767px) {
        .service-block ul li {
          width: 48%;
          margin-bottom: 5vw; } }
      .service-block ul li a {
        display: block; }
        .service-block ul li a:hover img {
          transform: scale(1.1); }
      .service-block ul li img {
        max-width: 100%;
        display: block;
        transition: 0.3s;
        margin: 0 auto; }
      .service-block ul li h3 {
        color: #881b1b;
        font-weight: bold;
        font-size: 1.9rem;
        line-height: 1.4em;
        padding: 0.5em 0;
        text-align: center; }
        @media screen and (max-width: 767px) {
          .service-block ul li h3 {
            font-size: 1.4rem; }
            .service-block ul li h3 br {
              display: none; } }
      .service-block ul li p {
        margin: 0 auto;
        max-width: 240px; }
        @media screen and (max-width: 767px) {
          .service-block ul li p {
            font-size: 1.4rem; }
            .service-block ul li p br {
              display: none; } }

.feature-block {
  text-align: center;
  background: url(../img/top/bg_feature.jpg) no-repeat center;
  background-size: cover;
  padding: 80px 0; }
  @media screen and (max-width: 767px) {
    .feature-block {
      padding: 5vw 0; } }
  .feature-block ul {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    box-sizing: border-box;
    flex-wrap: wrap; }
    @media screen and (max-width: 767px) {
      .feature-block ul {
        padding: 5vw; } }
    .feature-block ul li {
      background: #FFF;
      width: 48%;
      padding: 3%;
      box-sizing: border-box;
      overflow: hidden;
      position: relative; }
      @media screen and (max-width: 767px) {
        .feature-block ul li {
          width: 100%;
          margin: 0 auto;
          padding: 5vw;
          margin-bottom: 5vw; } }
      .feature-block ul li .point-txt {
        position: absolute;
        left: 0.5em;
        top: 1em;
        font-size: 1.8rem;
        transform: rotate(-45deg);
        color: #FFF; }
        @media screen and (max-width: 767px) {
          .feature-block ul li .point-txt {
            font-size: 1.2rem; } }
      .feature-block ul li:before {
        content: "";
        display: block;
        font-size: 2rem;
        width: 6em;
        height: 6em;
        position: absolute;
        background: #881b1b;
        left: -3em;
        top: -3em;
        transform: rotate(45deg); }
        @media screen and (max-width: 767px) {
          .feature-block ul li:before {
            left: -3.5em;
            top: -3.5em; } }
      .feature-block ul li h3 {
        font-size: 2.6rem;
        color: #881b1b;
        padding-bottom: 1em;
        line-height: 1.8;
        margin-bottom: 1em;
        border-bottom: 1px solid #CCC; }
        @media screen and (max-width: 767px) {
          .feature-block ul li h3 {
            font-size: 2rem; } }
      .feature-block ul li p {
        font-size: 1.8rem;
        line-height: 1.8;
        text-align: left;
        margin-bottom: 1.4em; }
        @media screen and (max-width: 767px) {
          .feature-block ul li p {
            font-size: 1.4rem; } }
      .feature-block ul li a {
        max-width: 300px; }
