@import "reset";
@import "var";
@import "mq";
@import "_animation";

.page-case{
  background: url(../img/bg3.jpg) repeat;
  .title-main{
    @include mq{
    padding-top: 0px;
    }
  }
  .title-box{
    background: $color1;
    color: #FFF;
    position: relative;
    &:after{
      content: "";
      background: url(../img/bg2.png);
      height: 30px;
      width: 100%;
      display: block;
      position: absolute;
      bottom: -29px;
    }
  }
  
  .case-list{
    padding: 60px 0;
    @include mq{
      padding: 10vw 0;
    }
    li{
      margin: 20px 0;
      @include mq{
        margin: 0 3vw 1px 3vw ;
      }
      a{
        display: block;
        padding: 35px;
        background: #FFF;
        transition: 0.3s;
        position: relative;
        @include mq{
          padding: 4vw;
        }
        &:after{
          @include arrow($bdc:$color1, $bdw:3px);
          position: absolute;
          right: 1em;
          top: 40%;
        }
        &:hover{
          box-shadow: 5px 5px 20px rgba(0,0,0,0.3); 
          background: #FBEFEF;
        }
        dl{
          display: flex;
          @include mq{
            display: block;
          }
          dt{
            width: 10%;
            color: #c38d8d;
            border-right: 1px solid #c38d8d;
            margin-right: 3%;
            font-size: 2.4rem;
            @include mq{
              width:auto;
              border: none;
              font-size: 1.6rem;
              margin-bottom: 0.3em;
            }
            em{
              font-size: 3.4rem;
            @include mq{
              font-size: 1.6rem;
            }
            }
          }
          dd{
            width: 87%;
            font-size: 2rem;
            @include mq{
              font-size: 1.6rem;
            }
            strong{
              color:$color1;
              font-size: 2.4rem;
            @include mq{
              font-size: 2rem;
            }
            }
          }
        }
      }
    }
  }
}
.page-case-detail{
  .title-box{
    background: url(../img/case/bg_title.jpg) no-repeat ;
    background-size:100% auto;   
    background-position:0 -50px ;
    h1{
      span{
        display: inline-block;
        background: rgba(136,27,27,0.7);
        color: #FFF;
        border-radius: 50px;
        padding: 10px 30px;
        font-size: 2.3rem;
        @include mq{
          font-size: 1.6rem;
          padding: 0.5em 1em;
        }
      }
      strong{
        display: block;
        padding: 0.5em 0;
      }
      em{
        font-size: 3rem;
        color: $color1;
      }
    }
  }
  p{
    text-align: left;
    line-height: 1.8;
    padding-bottom: 1em;
  }
  .intro-block{
    color: #FFF;
    text-align: center;
    background: rgba(0,0,0,0.8);
    .inner{
      padding: 50px 0 120px 0;
      max-width: 740px;
      margin: 0 auto;
      @include mq{
        padding: 5vw;
        box-sizing: border-box;
      }
    }
  }
  .ttl-intro{
    display: inline-block;
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    font-size: 3.5rem;
    margin-bottom: 1em;
    @include mq{
      font-size: 2.5rem;
    }
  }
  .intro-block2{
    margin-top: -80px;
    padding-bottom: 50px;
    @include mq{
      margin: 0px;
      padding: 5vw;
      padding-bottom: 10vw;
    }
    .inner{
      max-width: 800px;
    }
  }
  .interview-block{
    padding: 70px 0;
  background: url(../img/bg3.jpg) repeat;
    position: relative;
    &:before{
      content:'';
	position: absolute;
	top:0px;
	left:50%;
	margin:0 0 0 -50px;
	width:0;
	height:0;
	border-right:40px solid transparent;
	border-top:30px solid #FFFFFF;
	border-left:40px solid transparent;
    }
    text-align: center;
    .interview-inner{
      background: #FFF;
      border-radius: 10px;
      padding: 50px;
      box-sizing: border-box;
      max-width: 900px;
      margin: 40px auto;
      @include mq{
        border-radius: 0px;
        padding: 5vw;
        margin: 10vw 0;
      }
      h3{
        font-size: 3rem;
        color: #FFF;
        background: $color1;
        padding: 0.5em;
        margin-bottom: 1em;
        @include mq{
          font-size: 2.4rem;
        }
      }
      .txt1{
        color: $color1;
        font-weight: bold;
        margin-bottom: 2em;
      }
      .txt2{
        padding-left: 60px;
        position: relative;
        margin-bottom: 2em;
        @include mq{
          padding-left: 2em;
        }
        &:before{
          position: absolute;
          left: 0px;
          top: 10px;
          content: "";
          display: block;
          width: 50px;
          height: 1px;
          background: #000;
          @include mq{
            width: 2em;
          }
        }
      }
      .txt3{
        text-align: center;
        font-size: 2.4rem;
        padding: 30px 0;
        color: $color1;
      }
      .arrowB{
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto 50px auto;
        em{
          display: block;
          position: relative;
          &:before{
            content: "";
            display: block;
            width: 1px;
            height: 50px;
            background: $color1;
            margin: 0 auto;
          }
          &:after{
            content: "";
            background: url(../img/case/arrow.png);
            display: block;
            width: 37px;
            height: 23px;
            position: absolute;
            bottom: -10px;
            left: 7px;
            animation: rotato-in 0.5s infinite ;
            animation-direction: alternate;
          }
        }
      }
    }
  }
  .btn-service{
    border: 1px solid $color1;
    padding: 15px;
    display: flex;
    color: $color1;
    text-align: left;
    align-items: center;
    border-right: 30px solid $color1;
    position: relative;
    @include mq{
      padding: 0.8em;
      
    }
    &:after{
      content: "";
      position: absolute;
      right: -25px;
      @include arrow($bdc:#FFF, $bdw:3px);
    }
    img{
      width: 100px;
      height: 100px;
      margin-right: 15px;
      @include mq{
        width: 20vw;
        height: 20vw;
      }
    }
    span{
      font-size: 1.8rem;
      display: block;
      @include mq{
        font-size: 1.2rem;
      }
    }
    strong{
      font-size: 2.8rem;
      margin-top: 0.5em;
      display: block;
      @include mq{
        font-size: 1.8rem;
      }
    }
  }
}
